/*
 Copyright @ 2016 Diego Garcia
*/
/* 
    Created on : 15-mar-2016, 12:24:50
    Author     : melmoth
*/

@media only screen and (max-width: 800px) {
    .folio {
           width:100%;
           min-height: 0;
           padding-top: 5px;
    }
    .photo {
        height:200px;
    }
    .resume {
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
    }
    .github_repo {
        max-width: 100%;
        min-width: 50%;
    }
    .bottombanner {
        width: 75%;
    }

     .maincolumn {
            float: none;
            width: 100%;

    }
   
    .maincolumn_text {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 450px) {
    .github {
            width:95%;
    }

    .bottombanner {
        font-size: 0.8em;
        width: 90%
    }
}